.userCard {
  width: 100%;
  height: 155px;
  background: #868b97;
  border-radius: 12px;
  color: #ffffff;
  padding: 15px 26px 24px 24px;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
